<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="static/img/admin/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>JMR Funding</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="static/css/admin/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="static/css/admin/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="static/css/admin/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/admin/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="static/css/admin/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="static/img/admin/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{{ url_for('manager') }}" class="simple-text">
                    JMR Funding <img id="logosidebar" src="static/img/jmr_logo.jpg">
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{{ url_for('manager') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('my_appts') }}">
                        <i class="pe-7s-user"></i>
                        <p>Appointments</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{{ url_for('search_clients') }}">
                        <i class="pe-7s-science"></i>
                        <p>Clients</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('send_agreement') }}">
                        <i class="pe-7s-map-marker"></i>
                        <p>Send Agreement Email</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('our_data') }}">
                        <i class="pe-7s-bell"></i>
                        <p>Our Data</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">View Client</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <a class="navbar-brand" style="font-size: 15px; margin-left: 30px;" href="#">{{ pretty_date }}</a>
                        <!-- <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b> -->
                                    <!-- <span class="notification hidden-sm hidden-xs">5</span> -->
									<!-- <p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">ReservedForFutureUse</a></li>
                                <li><a href="#">ReservedForFutureUse</a></li>
                                <li><a href="#">ReservedForFutureUse</a></li>
                                <li><a href="#">ReservedForFutureUse</a></li>
                                <li><a href="#">ReservedForFutureUse</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li> -->
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										CLIENT OPTIONS
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{{ url_for('search_clients') }}">Search Clients</a></li>
                                <li><a href="#">Edit Specific Client</a></li>
                                <!-- <li><a href="#">ReservedForFutureUse</a></li>
                                <li><a href="#">ReservedForFutureUse</a></li>
                                <li><a href="#">ReservedForFutureUse</a></li> -->
                                <!-- <li class="divider"></li>
                                <li><a href="#">ReservedForFutureUse</a></li> -->
                              </ul>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color:red;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div style="margin-left: 40px;">
            <h1>View Client</h1>
            <div style="margin-top: 40px; margin-bottom: 40px;">
            <form action="" method="post" novalidate>
                {{ client_search.hidden_tag() }}
                <p>{{ client_search.id_in.label }} {{ client_search.id_in }}</p>
                <p>{{ client_search.lookup() }}</p>
            </form>
            </div>
            <h5>ID: {{ client.id }}</h5>
            <hr class="testhr">
            <h5>First name: {{ client.first_name }}</h5>
            <hr class="testhr">
            <h5>Last name: {{ client.last_name }}</h5>
            <hr class="testhr">
            <h5>Phone: {{ client.phone }}</h5>
            <hr class="testhr">
            <h5>Email: {{ client.email }}</h5>
            <hr class="testhr">
            <h5>Credit score: {{ client.credit_score }}</h5>
            <hr class="testhr">
            <h5>Desired funding: {{ client.desired_funding }}</h5>
            <hr class="testhr">
            <h5>Signup date: {{ client.signup_date }}</h5>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="height: 600px; overflow: auto;">
                            <div class="header">
                                <h4 class="title">Interaction History</h4>
                                <div style="margin-top: 10px;">
                                <!-- {{ interact_btn.add_btn() }} -->
                                <a href="{{ url_for('add_interaction', client_id=client.id) }}">Add Interaction</a>
                                </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Marketer</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Interaction Type</th>
                                        <th>About</th>
                                    </thead>
                                    <tbody>
                                        {% for result in interactions %}
                                        <tr>
                                            <td>{{ result.marketer }}</td>
                                        	<td>{{ result.date }}</td>
                                        	<td>{{ result.time }}</td>
                                        	<td>{{ result.type_of }}</td>
                                        	<td>{{ result.about }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            
        </footer>
    </div>
</div>

</body>
    <!--   Core JS Files   -->
    <script src="static/js/admin/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="static/js/admin/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="static/js/admin/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="static/js/admin/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="static/js/admin/light-bootstrap-dashboard.js?v=1.4.0"></script>
</html>